@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#skills {
    @include section;
    min-height: 90vh;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    h3 {
        color: $lightBlue;
        min-width: 100px;
    }

    .list {
      display:flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-right: 35px;
      margin-bottom: 50px;

      div {
        margin-right: 50px;
        width: 60%;
        font-size: 2rem;
      }
    }
    
    &:before {
        @include section-line;
    }
    &:after {
        @include section-color;
        left: 0;
        background: $pink;
    }
}
