@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#about {
    @include section;
    background-color: $opaqueBlack;

    &:before {
        @include section-line;
    }
    &:after {
        @include section-color;
        right: 0;
        background: $lightBlue;
    }

    h1 {
        font-size: 3em;
    }

    img {
        border-radius: 50%;
        max-width: 185px;
    }
}