@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
	@include section;
	background: none;
	position: relative;
	z-index: 2;
	padding-top: 20px;

	a {
		margin-left: 50px;
		color: white;
		text-decoration: none;

		&:hover {
			background: -webkit-linear-gradient(#eee, #333);
  			-webkit-background-clip: text;
 			-webkit-text-fill-color: transparent;
		}
	}

	nav {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding-right: 50px;
	}

	@media (max-width: 800px) {
		padding-top: 1%;
	}

    text-align: center;
    color: white;

    h1 {
		font-size: 4em;
		font-weight: 700;
		margin-bottom: 0;
	}
}
